In [1]:
import requests
import pandas as pd
import numpy as np
import overpy
import json

## Setting API

In [2]:
countryId = 643
unitId = 3
year = 2023
startYear = 2013
endYear = 2023
month = 5
day = 2
base_url = 'https://globalapi.dodopizza.com/'
country_list = 'api/v1/countries/list'
pizzerias_all = f'/api/v1/pizzerias/all/{countryId}'
pizzerias_unit = f'/api/v1/pizzerias/unit/{countryId}/{unitId}'
pizzerias_count = '/api/v1/pizzerias/count'
pizzerias_count_monthes = f'/api/v1/pizzerias/count/monthes/{year}/{month}'
pizzerias_revenue_weekly = f'/api/v1/revenue/pizzeria/{countryId}/{unitId}/week/history/{startYear}/{endYear}'
pizzerias_revenue_history = f'/api/v1/revenue/pizzeria/{countryId}/{unitId}/history'
pizzerias_revenue_annualy = f'/api/v1/revenue/pizzeria/{countryId}/{unitId}/history/{startYear}/{endYear}'
pizzerias_revenue_monthly = f'/api/v1/revenue/pizzeria/{countryId}/{unitId}/monthly/{year}/{month}'
pizzerias_revenue_daily = f'/api/v1/revenue/pizzeria/{countryId}/{unitId}/daily/{year}/{month}/{day}'
requests.get(base_url+country_list).json()

{'countries': [{'id': 156, 'code': 'cn', 'name': 'Китай', 'currency': 'CNY'},
  {'id': 233, 'code': 'ee', 'name': 'Эстония', 'currency': 'EUR'},
  {'id': 826, 'code': 'gb', 'name': 'Великобритания', 'currency': 'GBP'},
  {'id': 417, 'code': 'kg', 'name': 'Кыргызстан', 'currency': 'KGS'},
  {'id': 398, 'code': 'kz', 'name': 'Казахстан', 'currency': 'KZT'},
  {'id': 440, 'code': 'lt', 'name': 'Литва', 'currency': 'EUR'},
  {'id': 643, 'code': 'ru', 'name': 'Россия', 'currency': 'RUB'},
  {'id': 642, 'code': 'ro', 'name': 'Румыния', 'currency': 'RON'},
  {'id': 860, 'code': 'uz', 'name': 'Узбекистан', 'currency': 'UZS'},
  {'id': 112, 'code': 'by', 'name': 'Беларусь', 'currency': 'BYN'},
  {'id': 705, 'code': 'si', 'name': 'Словения', 'currency': 'EUR'},
  {'id': 566, 'code': 'ng', 'name': 'Нигерия', 'currency': 'NGN'},
  {'id': 276, 'code': 'de', 'name': 'Германия', 'currency': 'EUR'},
  {'id': 704, 'code': 'vn', 'name': 'Вьетнам', 'currency': 'VND'},
  {'id': 616, 'code': 'pl', 'name': 'Польша', 'currency': 'PLN'},
  {'id': 762, 'code': 'tj', 'name': 'Таджикистан', 'currency': 'TJS'},
  {'id': 784,
   'code': 'ae',
   'name': 'Объединенные Арабские Эмираты',
   'currency': 'AED'}]}

### Preparing branches data

In [3]:
all_russian_pizzerias = requests.get(base_url + pizzerias_all).json()

In [4]:
branches_df = pd.DataFrame(all_russian_pizzerias['countries'][0]['pizzerias'])

branches_df['city'] = branches_df['address'].apply(lambda row: row['locality']['name']\
                                                    if row['locality'] is not None else None)
branches_df

,id,name,uuid,alias,startDate,timeZoneShift,webcamUrl,coords,address,stationary,delivery,city
0,3,Сыктывкар-1,000D3A240C719A8711E68ABA13F7FE13,"Первомайская, 85",2011-10-06,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 61.66572, 'long': 50.83164}","{'text': 'ул. Первомайская, 85', 'locality': {...",{'workTime': None},{'workTime': None},Сыктывкар
1,5,Сыктывкар-2,000D3A240C719A8711E68ABA13F806D0,"Славы, 18/1",2012-05-03,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 61.782461, 'long': 50.753933}","{'text': 'ул. Славы, 18/1', 'locality': {'id':...",{'workTime': None},{'workTime': None},Сыктывкар
2,7,Ухта-3,000D3A240C719A8711E68ABA13F80A16,"Ленина, 47",2012-07-17,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 63.568312, 'long': 53.657755}","{'text': 'пр-т Ленина, 47', 'locality': {'id':...",{'workTime': None},{'workTime': None},Ухта
3,9,Смоленск-1,000D3A240C719A8711E68ABA13F80DA9,"Петра Алексеева, 2а",2012-08-28,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 54.761031, 'long': 32.102222}","{'text': 'ул. Петра Алексеева, 2а', 'locality'...",{'workTime': None},{'workTime': None},Смоленск
4,16,Самара-1,000D3A240C719A8711E68ABA13F815F6,"Самара-1, Победы 99",2012-11-06,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 53.214312, 'long': 50.252401}","{'text': 'ул. Победы, 99', 'locality': {'id': ...",{'workTime': None},{'workTime': None},Самара
...,...,...,...,...,...,...,...,...,...,...,...,...
749,1453,Софрино-1,FA869C76ED0A8D4711EDBCD6BC16E052,Софрино,2023-04-07,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 56.08553, 'long': 37.92119}","{'text': 'дерев. Кощейково, 43', 'locality': {...",{'workTime': None},{'workTime': None},Кощейково
750,1455,Геленджик-2,3E59C89BDC66A64D11EDBE32607C2997,Островского 4,2023-04-01,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 44.561488, 'long': 38.078543}","{'text': 'ул. Островского, 4', 'locality': {'i...",{'workTime': None},{'workTime': None},Геленджик
751,1456,Курск-3,3E59C89BDC66A6D511EDBE466DE512F0,Курск-3 Ленина 12,2023-04-03,0,"<div class=""iv-embed"" style=""margin:0 auto;pad...","{'lat': 51.733368, 'long': 36.192512}","{'text': 'ул. Ленина, 12', 'locality': {'id': ...",{'workTime': None},{'workTime': None},Курск
752,1459,Лабинск-1,C68EF2CE7873B98111EDC4BD56C958B2,Лабинск-1,2023-05-13,0,,"{'lat': 44.629977, 'long': 40.72792}","{'text': 'ул. Красная, 72', 'locality': {'id':...",{'workTime': None},{'workTime': None},Лабинск
753,1473,Октябрьский Московская-1,EA7D9990AAECAEC511EDE50783EF6221,Октябрьский - Новые Островцы,2023-05-16,0,https://tv.ivideon.com/camera/https://tv.ivide...,"{'lat': 55.602937, 'long': 37.981435}","{'text': 'ул. Баулинская, 3А', 'locality': {'i...",{'workTime': None},{'workTime': None},Островцы

In [5]:
branches_df = branches_df[['id', 'name', 'alias', 'startDate', 'coords', 'city']]
branches_df['startDate'] = pd.to_datetime(branches_df['startDate'], errors='coerce')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_27198/3882917722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  branches_df['startDate'] = pd.to_datetime(branches_df['startDate'], errors='coerce')

In [6]:
branches_df.to_csv('branches_info.csv')

In [7]:
revenue = requests.get(base_url + pizzerias_revenue_annualy).json()
# branches_revenue = pd.DataFrame(revenue['countries'][0]['monthes'])
# branches_revenue['cmn'] = 3
# branches_revenue
revenue

{'countries': [{'countryId': 643,
   'countryCode': 'ru',
   'unitId': 3,
   'monthes': [{'year': 2013,
     'month': 1,
     'revenue': 5755207.0,
     'stationaryRevenue': 2604939.0,
     'deliveryRevenue': 3109579.0,
     'pickupRevenue': 40689.0},
    {'year': 2013,
     'month': 2,
     'revenue': 5518897.0,
     'stationaryRevenue': 2330597.0,
     'deliveryRevenue': 3145783.0,
     'pickupRevenue': 42517.0},
    {'year': 2013,
     'month': 3,
     'revenue': 6119627.0,
     'stationaryRevenue': 2444287.0,
     'deliveryRevenue': 3623147.0,
     'pickupRevenue': 52193.0},
    {'year': 2013,
     'month': 4,
     'revenue': 5157385.0,
     'stationaryRevenue': 2290944.0,
     'deliveryRevenue': 2824971.0,
     'pickupRevenue': 41470.0},
    {'year': 2013,
     'month': 5,
     'revenue': 5460128.0,
     'stationaryRevenue': 2445363.0,
     'deliveryRevenue': 2976970.0,
     'pickupRevenue': 37795.0},
    {'year': 2013,
     'month': 6,
     'revenue': 5777048.0,
     'stationaryRevenue': 2496108.0,
     'deliveryRevenue': 3231975.0,
     'pickupRevenue': 48965.0},
    {'year': 2013,
     'month': 7,
     'revenue': 5863807.0,
     'stationaryRevenue': 2515872.0,
     'deliveryRevenue': 3285405.0,
     'pickupRevenue': 62530.0},
    {'year': 2013,
     'month': 8,
     'revenue': 6323807.0,
     'stationaryRevenue': 2798487.0,
     'deliveryRevenue': 3468270.0,
     'pickupRevenue': 57050.0},
    {'year': 2013,
     'month': 9,
     'revenue': 5851071.0,
     'stationaryRevenue': 2442626.0,
     'deliveryRevenue': 3339920.0,
     'pickupRevenue': 68525.0},
    {'year': 2013,
     'month': 10,
     'revenue': 5934311.0,
     'stationaryRevenue': 2544281.0,
     'deliveryRevenue': 3336941.0,
     'pickupRevenue': 53089.0},
    {'year': 2013,
     'month': 11,
     'revenue': 5689308.0,
     'stationaryRevenue': 2690003.0,
     'deliveryRevenue': 2935650.0,
     'pickupRevenue': 63655.0},
    {'year': 2013,
     'month': 12,
     'revenue': 6025562.0,
     'stationaryRevenue': 2851842.0,
     'deliveryRevenue': 3113200.0,
     'pickupRevenue': 60520.0},
    {'year': 2014,
     'month': 1,
     'revenue': 5962896.0,
     'stationaryRevenue': 2664220.0,
     'deliveryRevenue': 3243406.0,
     'pickupRevenue': 55270.0},
    {'year': 2014,
     'month': 2,
     'revenue': 4934788.0,
     'stationaryRevenue': 2179403.0,
     'deliveryRevenue': 2715985.0,
     'pickupRevenue': 39400.0},
    {'year': 2014,
     'month': 3,
     'revenue': 5525593.0,
     'stationaryRevenue': 2532538.0,
     'deliveryRevenue': 2935815.0,
     'pickupRevenue': 57240.0},
    {'year': 2014,
     'month': 4,
     'revenue': 4995385.0,
     'stationaryRevenue': 2445700.0,
     'deliveryRevenue': 2489310.0,
     'pickupRevenue': 60375.0},
    {'year': 2014,
     'month': 5,
     'revenue': 5757634.0,
     'stationaryRevenue': 2817209.0,
     'deliveryRevenue': 2864830.0,
     'pickupRevenue': 75595.0},
    {'year': 2014,
     'month': 6,
     'revenue': 5967931.0,
     'stationaryRevenue': 2983366.0,
     'deliveryRevenue': 2918740.0,
     'pickupRevenue': 65825.0},
    {'year': 2014,
     'month': 7,
     'revenue': 5728456.0,
     'stationaryRevenue': 2867482.0,
     'deliveryRevenue': 2787295.0,
     'pickupRevenue': 73679.0},
    {'year': 2014,
     'month': 8,
     'revenue': 6063279.0,
     'stationaryRevenue': 3246542.0,
     'deliveryRevenue': 2755996.0,
     'pickupRevenue': 60741.0},
    {'year': 2014,
     'month': 9,
     'revenue': 5500131.0,
     'stationaryRevenue': 2811815.0,
     'deliveryRevenue': 2640122.0,
     'pickupRevenue': 48194.0},
    {'year': 2014,
     'month': 10,
     'revenue': 5774346.0,
     'stationaryRevenue': 2879156.0,
     'deliveryRevenue': 2848355.0,
     'pickupRevenue': 46835.0},
    {'year': 2014,
     'month': 11,
     'revenue': 5966809.0,
     'stationaryRevenue': 3014449.0,
     'deliveryRevenue': 2897699.0,
     'pickupRevenue': 54661.0},
    {'year': 2014,
     'month': 12,
     'revenue': 6516229.0,
     'stationaryRevenue': 3260912.0,
     'deliveryRevenue': 3199542.0,
     'pickupRevenue': 55775.0},
    {'year': 2015,
     'month': 1,
     'revenue': 6498474.0,
     'stationaryRevenue': 3131940.0,
     'deliveryRevenue': 3312666.0,
     'pickupRevenue': 53868.0},
    {'year': 2015,
     'month': 2,
     'revenue': 5379134.0,
     'stationaryRevenue': 2704067.0,
     'deliveryRevenue': 2620708.0,
     'pickupRevenue': 54359.0},
    {'year': 2015,
     'month': 3,
     'revenue': 5754228.0,
     'stationaryRevenue': 3031513.0,
     'deliveryRevenue': 2672011.0,
     'pickupRevenue': 50704.0},
    {'year': 2015,
     'month': 4,
     'revenue': 5161653.0,
     'stationaryRevenue': 2670776.0,
     'deliveryRevenue': 2444470.0,
     'pickupRevenue': 46407.0},
    {'year': 2015,
     'month': 5,
     'revenue': 5583047.0,
     'stationaryRevenue': 3003206.0,
     'deliveryRevenue': 2522202.0,
     'pickupRevenue': 57639.0},
    {'year': 2015,
     'month': 6,
     'revenue': 5814584.0,
     'stationaryRevenue': 3019477.0,
     'deliveryRevenue': 2727463.0,
     'pickupRevenue': 67644.0},
    {'year': 2015,
     'month': 7,
     'revenue': 5673220.0,
     'stationaryRevenue': 2793098.0,
     'deliveryRevenue': 2755410.0,
     'pickupRevenue': 124712.0},
    {'year': 2015,
     'month': 8,
     'revenue': 5896659.0,
     'stationaryRevenue': 2937861.0,
     'deliveryRevenue': 2880205.0,
     'pickupRevenue': 78593.0},
    {'year': 2015,
     'month': 9,
     'revenue': 5005453.0,
     'stationaryRevenue': 2465775.0,
     'deliveryRevenue': 2460861.0,
     'pickupRevenue': 78817.0},
    {'year': 2015,
     'month': 10,
     'revenue': 5623782.0,
     'stationaryRevenue': 2568983.0,
     'deliveryRevenue': 2957000.0,
     'pickupRevenue': 97799.0},
    {'year': 2015,
     'month': 11,
     'revenue': 5498506.0,
     'stationaryRevenue': 2615591.0,
     'deliveryRevenue': 2824578.0,
     'pickupRevenue': 58337.0},
    {'year': 2015,
     'month': 12,
     'revenue': 6170989.0,
     'stationaryRevenue': 2836561.0,
     'deliveryRevenue': 3278991.0,
     'pickupRevenue': 55437.0},
    {'year': 2016,
     'month': 1,
     'revenue': 7030584.0,
     'stationaryRevenue': 3030973.0,
     'deliveryRevenue': 3903663.0,
     'pickupRevenue': 95948.0},
    {'year': 2016,
     'month': 2,
     'revenue': 6061776.0,
     'stationaryRevenue': 2562858.0,
     'deliveryRevenue': 3424722.0,
     'pickupRevenue': 74196.0},
    {'year': 2016,
     'month': 3,
     'revenue': 6163146.0,
     'stationaryRevenue': 2631314.0,
     'deliveryRevenue': 3443296.0,
     'pickupRevenue': 88536.0},
    {'year': 2016,
     'month': 4,
     'revenue': 4359046.0,
     'stationaryRevenue': 1177307.0,
     'deliveryRevenue': 3089988.0,
     'pickupRevenue': 91751.0},
    {'year': 2016,
     'month': 5,
     'revenue': 6387171.0,
     'stationaryRevenue': 3119880.0,
     'deliveryRevenue': 3184722.0,
     'pickupRevenue': 82569.0},
    {'year': 2016,
     'month': 6,
     'revenue': 6355400.0,
     'stationaryRevenue': 3005636.0,
     'deliveryRevenue': 3272901.0,
     'pickupRevenue': 76863.0},
    {'year': 2016,
     'month': 7,
     'revenue': 6054225.0,
     'stationaryRevenue': 3035713.0,
     'deliveryRevenue': 2945668.0,
     'pickupRevenue': 72844.0},
    {'year': 2016,
     'month': 8,
     'revenue': 6403951.0,
     'stationaryRevenue': 3295061.0,
     'deliveryRevenue': 3030150.0,
     'pickupRevenue': 78740.0},
    {'year': 2016,
     'month': 9,
     'revenue': 6071706.0,
     'stationaryRevenue': 2795434.0,
     'deliveryRevenue': 3179294.0,
     'pickupRevenue': 96978.0},
    {'year': 2016,
     'month': 10,
     'revenue': 6643910.0,
     'stationaryRevenue': 3089344.0,
     'deliveryRevenue': 3438361.0,
     'pickupRevenue': 116205.0},
    {'year': 2016,
     'month': 11,
     'revenue': 6049735.0,
     'stationaryRevenue': 2589987.0,
     'deliveryRevenue': 3391992.0,
     'pickupRevenue': 67756.0},
    {'year': 2016,
     'month': 12,
     'revenue': 6799843.0,
     'stationaryRevenue': 2524296.0,
     'deliveryRevenue': 4186063.0,
     'pickupRevenue': 89484.0},
    {'year': 2017,
     'month': 1,
     'revenue': 7573445.0,
     'stationaryRevenue': 3088673.0,
     'deliveryRevenue': 4395047.0,
     'pickupRevenue': 89725.0},
    {'year': 2017,
     'month': 2,
     'revenue': 6298514.0,
     'stationaryRevenue': 2558925.0,
     'deliveryRevenue': 3657675.0,
     'pickupRevenue': 81914.0},
    {'year': 2017,
     'month': 3,
     'revenue': 6640737.0,
     'stationaryRevenue': 2720975.0,
     'deliveryRevenue': 3844049.0,
     'pickupRevenue': 75713.0},
    {'year': 2017,
     'month': 4,
     'revenue': 6119941.0,
     'stationaryRevenue': 2632248.0,
     'deliveryRevenue': 3407747.0,
     'pickupRevenue': 79946.0},
    {'year': 2017,
     'month': 5,
     'revenue': 6792517.0,
     'stationaryRevenue': 3117427.0,
     'deliveryRevenue': 3567157.0,
     'pickupRevenue': 107933.0},
    {'year': 2017,
     'month': 6,
     'revenue': 7339914.0,
     'stationaryRevenue': 3438870.0,
     'deliveryRevenue': 3779458.0,
     'pickupRevenue': 121586.0},
    {'year': 2017,
     'month': 7,
     'revenue': 6872612.0,
     'stationaryRevenue': 3458159.0,
     'deliveryRevenue': 3307309.0,
     'pickupRevenue': 107144.0},
    {'year': 2017,
     'month': 8,
     'revenue': 7060083.0,
     'stationaryRevenue': 3535867.0,
     'deliveryRevenue': 3407395.0,
     'pickupRevenue': 116821.0},
    {'year': 2017,
     'month': 9,
     'revenue': 6698416.0,
     'stationaryRevenue': 2967960.0,
     'deliveryRevenue': 3633596.0,
     'pickupRevenue': 96860.0},
    {'year': 2017,
     'month': 10,
     'revenue': 6894078.0,
     'stationaryRevenue': 2917357.0,
     'deliveryRevenue': 3862947.0,
     'pickupRevenue': 113774.0},
    {'year': 2017,
     'month': 11,
     'revenue': 6689128.0,
     'stationaryRevenue': 2590123.0,
     'deliveryRevenue': 3967175.0,
     'pickupRevenue': 131830.0},
    {'year': 2017,
     'month': 12,
     'revenue': 7561214.0,
     'stationaryRevenue': 2649424.0,
     'deliveryRevenue': 4806020.0,
     'pickupRevenue': 105770.0},
    {'year': 2018,
     'month': 1,
     'revenue': 7712050.0,
     'stationaryRevenue': 2942200.0,
     'deliveryRevenue': 4674977.0,
     'pickupRevenue': 94873.0},
    {'year': 2018,
     'month': 2,
     'revenue': 6643206.0,
     'stationaryRevenue': 2395701.0,
     'deliveryRevenue': 4130980.0,
     'pickupRevenue': 116525.0},
    {'year': 2018,
     'month': 3,
     'revenue': 7462223.0,
     'stationaryRevenue': 2686823.0,
     'deliveryRevenue': 4623730.0,
     'pickupRevenue': 151670.0},
    {'year': 2018,
     'month': 4,
     'revenue': 6686728.0,
     'stationaryRevenue': 2649049.0,
     'deliveryRevenue': 3900820.0,
     'pickupRevenue': 136859.0},
    {'year': 2018,
     'month': 5,
     'revenue': 7626532.0,
     'stationaryRevenue': 3072357.0,
     'deliveryRevenue': 4392295.0,
     'pickupRevenue': 161880.0},
    {'year': 2018,
     'month': 6,
     'revenue': 7835448.0,
     'stationaryRevenue': 3163216.0,
     'deliveryRevenue': 4508035.0,
     'pickupRevenue': 164197.0},
    {'year': 2018,
     'month': 7,
     'revenue': 7144754.0,
     'stationaryRevenue': 3176781.0,
     'deliveryRevenue': 3826623.0,
     'pickupRevenue': 141350.0},
    {'year': 2018,
     'month': 8,
     'revenue': 7526854.0,
     'stationaryRevenue': 3404184.0,
     'deliveryRevenue': 3950095.0,
     'pickupRevenue': 172575.0},
    {'year': 2018,
     'month': 9,
     'revenue': 7413537.0,
     'stationaryRevenue': 3365257.0,
     'deliveryRevenue': 3881755.0,
     'pickupRevenue': 166525.0},
    {'year': 2018,
     'month': 10,
     'revenue': 7185876.0,
     'stationaryRevenue': 2925520.0,
     'deliveryRevenue': 4107795.0,
     'pickupRevenue': 152561.0},
    {'year': 2018,
     'month': 11,
     'revenue': 6632218.0,
     'stationaryRevenue': 2479895.0,
     'deliveryRevenue': 3992053.0,
     'pickupRevenue': 160270.0},
    {'year': 2018,
     'month': 12,
     'revenue': 7969226.0,
     'stationaryRevenue': 2787166.0,
     'deliveryRevenue': 4966941.0,
     'pickupRevenue': 215119.0},
    {'year': 2019,
     'month': 1,
     'revenue': 8456054.0,
     'stationaryRevenue': 3016059.0,
     'deliveryRevenue': 5243395.0,
     'pickupRevenue': 196600.0},
    {'year': 2019,
     'month': 2,
     'revenue': 7662354.0,
     'stationaryRevenue': 2452668.0,
     'deliveryRevenue': 4903445.0,
     'pickupRevenue': 306241.0},
    {'year': 2019,
     'month': 3,
     'revenue': 8079084.0,
     'stationaryRevenue': 2833661.0,
     'deliveryRevenue': 5028847.0,
     'pickupRevenue': 216576.0},
    {'year': 2019,
     'month': 4,
     'revenue': 7075236.0,
     'stationaryRevenue': 2653665.0,
     'deliveryRevenue': 4248476.0,
     'pickupRevenue': 173095.0},
    {'year': 2019,
     'month': 5,
     'revenue': 8175822.0,
     'stationaryRevenue': 3207631.0,
     'deliveryRevenue': 4687344.0,
     'pickupRevenue': 280847.0},
    {'year': 2019,
     'month': 6,
     'revenue': 8700372.0,
     'stationaryRevenue': 2974906.0,
     'deliveryRevenue': 5462990.0,
     'pickupRevenue': 262476.0},
    {'year': 2019,
     'month': 7,
     'revenue': 8313631.0,
     'stationaryRevenue': 2753445.0,
     'deliveryRevenue': 5326143.0,
     'pickupRevenue': 234043.0},
    {'year': 2019,
     'month': 8,
     'revenue': 8427705.0,
     'stationaryRevenue': 2747521.0,
     'deliveryRevenue': 5444451.0,
     'pickupRevenue': 235733.0},
    {'year': 2019,
     'month': 9,
     'revenue': 7740014.0,
     'stationaryRevenue': 2495182.0,
     'deliveryRevenue': 5031569.0,
     'pickupRevenue': 213263.0},
    {'year': 2019,
     'month': 10,
     'revenue': 7928550.0,
     'stationaryRevenue': 2384759.0,
     'deliveryRevenue': 5333714.0,
     'pickupRevenue': 210077.0},
    {'year': 2019,
     'month': 11,
     'revenue': 8100663.0,
     'stationaryRevenue': 2278295.0,
     'deliveryRevenue': 5621404.0,
     'pickupRevenue': 200964.0},
    {'year': 2019,
     'month': 12,
     'revenue': 9393972.0,
     'stationaryRevenue': 2474385.0,
     'deliveryRevenue': 6665247.0,
     'pickupRevenue': 254340.0},
    {'year': 2020,
     'month': 1,
     'revenue': 10098250.0,
     'stationaryRevenue': 2724108.0,
     'deliveryRevenue': 7068556.0,
     'pickupRevenue': 305586.0},
    {'year': 2020,
     'month': 2,
     'revenue': 9266139.0,
     'stationaryRevenue': 2357870.0,
     'deliveryRevenue': 6642446.0,
     'pickupRevenue': 265823.0},
    {'year': 2020,
     'month': 3,
     'revenue': 9903176.0,
     'stationaryRevenue': 2026854.0,
     'deliveryRevenue': 7664284.0,
     'pickupRevenue': 212038.0},
    {'year': 2020,
     'month': 4,
     'revenue': 10358503.0,
     'stationaryRevenue': 0,
     'deliveryRevenue': 10047239.0,
     'pickupRevenue': 311264.0},
    {'year': 2020,
     'month': 5,
     'revenue': 11328997.0,
     'stationaryRevenue': 289336.0,
     'deliveryRevenue': 10272458.0,
     'pickupRevenue': 767203.0},
    {'year': 2020,
     'month': 6,
     'revenue': 10620999.0,
     'stationaryRevenue': 1087145.0,
     'deliveryRevenue': 8525711.0,
     'pickupRevenue': 1008143.0},
    {'year': 2020,
     'month': 7,
     'revenue': 10625514.0,
     'stationaryRevenue': 2686251.0,
     'deliveryRevenue': 7134832.0,
     'pickupRevenue': 804431.0},
    {'year': 2020,
     'month': 8,
     'revenue': 10082486.0,
     'stationaryRevenue': 2844820.0,
     'deliveryRevenue': 6681313.0,
     'pickupRevenue': 556353.0},
    {'year': 2020,
     'month': 9,
     'revenue': 9606286.0,
     'stationaryRevenue': 2587305.0,
     'deliveryRevenue': 6544429.0,
     'pickupRevenue': 474552.0},
    {'year': 2020,
     'month': 10,
     'revenue': 11405159.0,
     'stationaryRevenue': 2604905.0,
     'deliveryRevenue': 8322604.0,
     'pickupRevenue': 477650.0},
    {'year': 2020,
     'month': 11,
     'revenue': 11737142.0,
     'stationaryRevenue': 2573254.0,
     'deliveryRevenue': 8693235.0,
     'pickupRevenue': 470653.0},
    {'year': 2020,
     'month': 12,
     'revenue': 13955348.0,
     'stationaryRevenue': 3091124.0,
     'deliveryRevenue': 10654379.0,
     'pickupRevenue': 209845.0},
    {'year': 2021,
     'month': 1,
     'revenue': 15001324.0,
     'stationaryRevenue': 3858552.0,
     'deliveryRevenue': 10918385.0,
     'pickupRevenue': 224387.0},
    {'year': 2021,
     'month': 2,
     'revenue': 12393718.0,
     'stationaryRevenue': 2890045.0,
     'deliveryRevenue': 9306850.0,
     'pickupRevenue': 196823.0},
    {'year': 2021,
     'month': 3,
     'revenue': 13923684.0,
     'stationaryRevenue': 3756042.0,
     'deliveryRevenue': 9955569.0,
     'pickupRevenue': 212073.0},
    {'year': 2021,
     'month': 4,
     'revenue': 13458088.0,
     'stationaryRevenue': 4318245.0,
     'deliveryRevenue': 8927700.0,
     'pickupRevenue': 212143.0},
    {'year': 2021,
     'month': 5,
     'revenue': 14895523.0,
     'stationaryRevenue': 4943622.0,
     'deliveryRevenue': 9722769.0,
     'pickupRevenue': 229132.0},
    {'year': 2021,
     'month': 6,
     'revenue': 14154102.0,
     'stationaryRevenue': 4680618.0,
     'deliveryRevenue': 9299226.0,
     'pickupRevenue': 174258.0},
    {'year': 2021,
     'month': 7,
     'revenue': 13216464.0,
     'stationaryRevenue': 4655588.0,
     'deliveryRevenue': 8326584.0,
     'pickupRevenue': 234292.0},
    {'year': 2021,
     'month': 8,
     'revenue': 13845410.0,
     'stationaryRevenue': 5342926.0,
     'deliveryRevenue': 8238051.0,
     'pickupRevenue': 264433.0},
    {'year': 2021,
     'month': 9,
     'revenue': 13109691.0,
     'stationaryRevenue': 4456549.0,
     'deliveryRevenue': 8378226.0,
     'pickupRevenue': 274916.0},
    {'year': 2021,
     'month': 10,
     'revenue': 14176600.0,
     'stationaryRevenue': 4226886.0,
     'deliveryRevenue': 9683091.0,
     'pickupRevenue': 266623.0},
    {'year': 2021,
     'month': 11,
     'revenue': 12828387.0,
     'stationaryRevenue': 2489125.0,
     'deliveryRevenue': 10133556.0,
     'pickupRevenue': 205706.0},
    {'year': 2021,
     'month': 12,
     'revenue': 11177216.0,
     'stationaryRevenue': 3036862.0,
     'deliveryRevenue': 7918325.0,
     'pickupRevenue': 222029.0},
    {'year': 2022,
     'month': 1,
     'revenue': 12319731.0,
     'stationaryRevenue': 3383829.0,
     'deliveryRevenue': 8741556.0,
     'pickupRevenue': 194346.0},
    {'year': 2022,
     'month': 2,
     'revenue': 11217298.0,
     'stationaryRevenue': 2702685.0,
     'deliveryRevenue': 8355641.0,
     'pickupRevenue': 158972.0},
    {'year': 2022,
     'month': 3,
     'revenue': 12553122.0,
     'stationaryRevenue': 3659303.0,
     'deliveryRevenue': 8710468.0,
     'pickupRevenue': 183351.0},
    {'year': 2022,
     'month': 4,
     'revenue': 12264214.0,
     'stationaryRevenue': 3894407.0,
     'deliveryRevenue': 8239239.0,
     'pickupRevenue': 130568.0},
    {'year': 2022,
     'month': 5,
     'revenue': 13825065.0,
     'stationaryRevenue': 4545308.0,
     'deliveryRevenue': 9142483.0,
     'pickupRevenue': 137274.0},
    {'year': 2022,
     'month': 6,
     'revenue': 14334755.0,
     'stationaryRevenue': 5545198.0,
     'deliveryRevenue': 8663391.0,
     'pickupRevenue': 126166.0},
    {'year': 2022,
     'month': 7,
     'revenue': 13982977.0,
     'stationaryRevenue': 5642360.0,
     'deliveryRevenue': 8177723.0,
     'pickupRevenue': 162894.0},
    {'year': 2022,
     'month': 8,
     'revenue': 12619987.0,
     'stationaryRevenue': 5753303.0,
     'deliveryRevenue': 6717827.0,
     'pickupRevenue': 148857.0},
    {'year': 2022,
     'month': 9,
     'revenue': 10817046.0,
     'stationaryRevenue': 4133052.0,
     'deliveryRevenue': 6577886.0,
     'pickupRevenue': 106108.0},
    {'year': 2022,
     'month': 10,
     'revenue': 11588314.0,
     'stationaryRevenue': 4128412.0,
     'deliveryRevenue': 7366257.0,
     'pickupRevenue': 93645.0},
    {'year': 2022,
     'month': 11,
     'revenue': 12238882.0,

### Collecting financial data

In [8]:
branches_revenue_dfs = []
for id in branches_df['id'].unique():
    unitId = id
    pizzerias_revenue_annualy = f'/api/v1/revenue/pizzeria/{countryId}/{unitId}/history/{startYear}/{endYear}'
    revenue = requests.get(base_url + pizzerias_revenue_annualy).json()
    df= pd.DataFrame(revenue['countries'][0]['monthes'])
    df['id'] = id
    branches_revenue_dfs.append(df)

branches_revenue_df = pd.concat(branches_revenue_dfs)

KeyboardInterrupt:

In [ ]:
branches_revenue_df.to_csv('branches_revenue_info.csv')

In [ ]:
branches_revenue_df[branches_revenue_df['id'] == 129]

,year,month,revenue,stationaryRevenue,deliveryRevenue,pickupRevenue,id
0,2015.0,11.0,38954.0,0.0,27225.0,11729.0,129
1,2015.0,12.0,862060.0,293704.0,448574.0,119782.0,129
2,2016.0,1.0,944507.0,435002.0,471692.0,37813.0,129
3,2016.0,2.0,1333777.0,584268.0,714024.0,35485.0,129
4,2016.0,3.0,1503857.0,619428.0,852007.0,32422.0,129
...,...,...,...,...,...,...,...
85,2022.0,12.0,7891505.0,2343034.0,5350963.0,197508.0,129
86,2023.0,1.0,6858767.0,2215088.0,4521800.0,121879.0,129
87,2023.0,2.0,6833136.0,2122947.0,4580128.0,130061.0,129
88,2023.0,3.0,7762546.0,2431130.0,5211200.0,120216.0,129
89,2023.0,4.0,7621908.0,2684191.0,4811480.0,126237.0,129

In [2]:
api = overpy.Overpass()

## Overpy openmap

In [3]:
branches = pd.read_csv('branches_info.csv')

In [11]:
branches = branches.drop(branches[branches['name']=='Тестовое подразделение-1'].index)

In [ ]:
branches

,Unnamed: 0,id,name,alias,startDate,coords,city
0,0,3,Сыктывкар-1,"Первомайская, 85",2011-10-06,"{'lat': 61.66572, 'long': 50.83164}",Сыктывкар
1,1,5,Сыктывкар-2,"Славы, 18/1",2012-05-03,"{'lat': 61.782461, 'long': 50.753933}",Сыктывкар
2,2,7,Ухта-3,"Ленина, 47",2012-07-17,"{'lat': 63.568312, 'long': 53.657755}",Ухта
3,3,9,Смоленск-1,"Петра Алексеева, 2а",2012-08-28,"{'lat': 54.761031, 'long': 32.102222}",Смоленск
4,4,16,Самара-1,"Самара-1, Победы 99",2012-11-06,"{'lat': 53.214312, 'long': 50.252401}",Самара
...,...,...,...,...,...,...,...
746,746,1453,Софрино-1,Софрино,2023-04-07,"{'lat': 56.08553, 'long': 37.92119}",Кощейково
747,747,1455,Геленджик-2,Островского 4,2023-04-01,"{'lat': 44.561488, 'long': 38.078543}",Геленджик
748,748,1456,Курск-3,Курск-3 Ленина 12,2023-04-03,"{'lat': 51.733368, 'long': 36.192512}",Курск
749,749,1459,Лабинск-1,Лабинск-1,2023-05-13,"{'lat': 44.629977, 'long': 40.72792}",Лабинск
750,750,1473,Октябрьский Московская-1,Октябрьский - Новые Островцы,2023-05-16,"{'lat': 55.602937, 'long': 37.981435}",Островцы

In [4]:
a = 2500
query = f'''
way["building"](around:{a},53.214312,50.252401);
out;
'''
result = api.query(query)
# building_count = len(result.ways)
# print(f"Number of buildings: {building_count}")
len(result.ways)

5079

In [ ]:
query = '''
way["building"]["amenity"~"cafe|restaurant"](around:2500, 53.214312, 50.252401);
out;
'''
result = api.query(query)
building_count = len(result.ways)
print(f"Number of retail buildings with cafes and restaurants: {building_count}")

Number of retail buildings with cafes and restaurants: 2

In [58]:
to_parse_atr = [
    {'building':'apartments'},
    {'building':'dormitory'},
    {'building':'hotel'},
    {'building':'residential'}, #sub from it number of appartments
    {'building':'commercial'}, #all commerce
    {'building':'office'}, #sub from commercial this num
    {'building':'retail'}, #sub from commercial this num
    {'building':'civic'},
    {'building':'college'}, #sub from civic
    {'building':'school'}, #sub from civis
    {'building':'transportation'}, #sub from civic
    {'building':'university'}, #sub from civic
    {'building':'stadium'}, #check whether inside of civic
    {'building':'sports_hall'},
    {'building':'pavilion'},
    {'leisure':'adult_gaming_centre'}, #sum all leasures
    {'leisure':'fitness_centre'},
    {'leisure':'park'},
    {'leisure':'sauna'},
    {'leisure':'hackerspace'},
    {'amenity':'bar'},
    {'amenity':'fast_food'},
    {'amenity':'cafe'},
    {'amenity':'food_court'},
    {'amenity':'restaurant'},
    {'amenity':'cinema'},
    {'amenity':'exhibition_centre'},
    {'tourism':'attraction'}, #sum all tourism
    {'tourism':'gallery'},
    {'tourism':'museum'},
    {'tourism':'zoo'},
    {'tourism':'yes'},
    {'tourism':'picnic_site'}
]

In [59]:
dct = {}
for i in to_parse_atr:
    for key, value in i.items():
        query = f'''
            way["{key}"="{value}"](around:2500, {53.214312}, {50.252401});
            out;
            '''
        result = api.query(query)
        cnt = len(result.ways)
        dct[value] = cnt

for k,v in dct.items():
    print(f'{k}: {v}')

apartments: 1324
dormitory: 8
hotel: 2
residential: 151
commercial: 136
office: 9
retail: 6
civic: 1
college: 9
school: 41
transportation: 0
university: 9
stadium: 0
sports_hall: 0
pavilion: 0
adult_gaming_centre: 0
fitness_centre: 4
park: 25
sauna: 1
hackerspace: 0
bar: 0
fast_food: 0
cafe: 1
food_court: 0
restaurant: 1
cinema: 0
exhibition_centre: 0
attraction: 0
gallery: 0
museum: 0
zoo: 0
yes: 0
picnic_site: 0

In [63]:
def parser(coords, attributes, range):
    dct = {}
    lat = json.loads(coords.replace("'", '"'))['lat']
    long = json.loads(coords.replace("'", '"'))['long']
    
    for i in attributes:
        for key, value in i.items():
            if value == 'apartments':
                query1 = f'''
                way["{key}"="{value}"]["building:levels"~"^([0-4])$"](around:{range}, {lat}, {long});
                out;
                '''
                query2 = f'''
                way["{key}"="{value}"]["building:levels"~"^([5-9])$"](around:{range}, {lat}, {long});
                out;
                '''
                query3 = f'''
                way["{key}"="{value}"]["building:levels"~"^1[0-4]$"](around:{range}, {lat}, {long});
                out;
                '''
                query4 = f'''
                way["{key}"="{value}"]["building:levels"~"^(1[5-9]|[2-9][0-9]|[1-9][0-9][0-9])$"](around:{range}, {lat}, {long});
                out;
                '''
                res1 = api.query(query1)
                cnt1 = len(res1.ways)
                dct[value+'<5lvl'] = cnt1
                res2 = api.query(query2)
                cnt2 = len(res2.ways)
                dct[value+'>=5lvl<10'] = cnt2
                res3 = api.query(query3)
                cnt3 = len(res3.ways)
                dct[value+'>=10<15'] = cnt3
                res4 = api.query(query4)
                cnt4 = len(res4.ways)
                dct[value+'>=15'] = cnt4
            else:
                query = f'''
                way["{key}"="{value}"](around:{range}, {lat}, {long});
                out;
                '''
                result = api.query(query)
                cnt = len(result.ways)
                dct[value] = cnt

    return dct

In [61]:
parse_data = parser(branches['coords'][0], to_parse_atr, 2500)
atributes = [k for k,v in parse_data.items()]

In [64]:
parse_data

{'apartments<5lvl': 544,
 'apartments>=5lvl<10': 638,
 'apartments>=10<15': 104,
 'apartments>=15': 26,
 'dormitory': 8,
 'hotel': 2,
 'residential': 151,
 'commercial': 136,
 'office': 9,
 'retail': 6,
 'civic': 1,
 'college': 9,
 'school': 41,
 'transportation': 0,
 'university': 9,
 'stadium': 0,
 'sports_hall': 0,
 'pavilion': 0,
 'adult_gaming_centre': 0,
 'fitness_centre': 4,
 'park': 25,
 'sauna': 1,
 'hackerspace': 0,
 'bar': 0,
 'fast_food': 0,
 'cafe': 1,
 'food_court': 0,
 'restaurant': 1,
 'cinema': 0,
 'exhibition_centre': 0,
 'attraction': 0,
 'gallery': 0,
 'museum': 0,
 'zoo': 0,
 'yes': 0,
 'picnic_site': 0}

In [66]:
def filler_w_parse_data(df):
    df = df.copy()
    #to create new features
    for atr in atributes:
        df[atr] = 0
    #for parse to new features
    for i in range(df.shape[0]):
        if df['city'][i] == "Москва" or df['city'][i] == "Санкт-Петербург":
            parse_data = parser(df['coords'][i], to_parse_atr, 2500)
        else:
            parse_data = parser(df['coords'][i], to_parse_atr, 4000)
        for atr in atributes:
            df[atr][i] = parse_data[atr]
        
    return df

In [70]:
a = filler_w_parse_data(branches.loc[:100].reset_index())
a.to_csv('overpy100.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_8446/3451223667.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [259]:
a = filler_w_parse_data(branches.loc[101:200].reset_index())
a.to_csv('overpy200.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_1752/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [14]:
a = filler_w_parse_data(branches.loc[201:300].reset_index())
a.to_csv('overpy300.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_4575/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [15]:
a = filler_w_parse_data(branches.loc[301:400].reset_index())
a.to_csv('overpy400.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_4575/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [16]:
a = filler_w_parse_data(branches.loc[401:500].reset_index())
a.to_csv('overpy500.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_4575/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [46]:
a = filler_w_parse_data(branches.loc[501:600].reset_index())
a.to_csv('overpy600.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_4854/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [13]:
a = filler_w_parse_data(branches.loc[601:700].reset_index())
a.to_csv('overpy700.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_5923/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [47]:
a = filler_w_parse_data(branches.loc[701:].reset_index())
a.to_csv('overpy750.csv')

/var/folders/pd/fjb9sj5x6t3dnxtpzxxzkv6c0000gn/T/ipykernel_4854/2274064794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[atr][i] = parse_data[atr]

In [258]:
branches.loc[101:200]

,Unnamed: 0,id,name,alias,startDate,coords,city
101,101,231,Коммунарка-1,Коммунарка,2016-11-07,"{'lat': 55.570302, 'long': 37.476404}",Коммунарка
102,102,233,Рязань-1,"Первомайский, 56",2016-11-28,"{'lat': 54.62983, 'long': 39.718818}",Рязань
103,103,234,Самара-5,"Самара-5, Ленинградская 29",2016-05-06,"{'lat': 53.1875, 'long': 50.0904}",Самара
104,104,236,Киров-1,Киров,2016-10-14,"{'lat': 58.605466, 'long': 49.660675}",Киров
105,105,238,Псков-1,Юбиленая 68,2017-08-09,"{'lat': 57.821939, 'long': 28.291789}",Псков
...,...,...,...,...,...,...,...
196,196,425,Томск-1,"Ленина, 26",2017-07-25,"{'lat': 56.461831, 'long': 84.950412}",Томск
197,197,428,Димитровград-1,Мега Магнит,2019-03-21,"{'lat': 54.23768, 'long': 49.562907}",Димитровград
198,198,430,Краснодар-5,"Уральская, 156/2",2017-05-03,"{'lat': 45.037579, 'long': 39.092399}",Краснодар
199,199,431,Краснодар-6,"Дзержинского, 167",2017-03-03,"{'lat': 45.09052, 'long': 38.976565}",Краснодар
200,200,433,Владикавказ-1,Владикавказ,2018-12-10,"{'lat': 43.018861, 'long': 44.674291}",Владикавказ

In [12]:
branches

,Unnamed: 0,id,name,alias,startDate,coords,city
0,0,3,Сыктывкар-1,"Первомайская, 85",2011-10-06,"{'lat': 61.66572, 'long': 50.83164}",Сыктывкар
1,1,5,Сыктывкар-2,"Славы, 18/1",2012-05-03,"{'lat': 61.782461, 'long': 50.753933}",Сыктывкар
2,2,7,Ухта-3,"Ленина, 47",2012-07-17,"{'lat': 63.568312, 'long': 53.657755}",Ухта
3,3,9,Смоленск-1,"Петра Алексеева, 2а",2012-08-28,"{'lat': 54.761031, 'long': 32.102222}",Смоленск
4,4,16,Самара-1,"Самара-1, Победы 99",2012-11-06,"{'lat': 53.214312, 'long': 50.252401}",Самара
...,...,...,...,...,...,...,...
746,746,1453,Софрино-1,Софрино,2023-04-07,"{'lat': 56.08553, 'long': 37.92119}",Кощейково
747,747,1455,Геленджик-2,Островского 4,2023-04-01,"{'lat': 44.561488, 'long': 38.078543}",Геленджик
748,748,1456,Курск-3,Курск-3 Ленина 12,2023-04-03,"{'lat': 51.733368, 'long': 36.192512}",Курск
749,749,1459,Лабинск-1,Лабинск-1,2023-05-13,"{'lat': 44.629977, 'long': 40.72792}",Лабинск
750,750,1473,Октябрьский Московская-1,Октябрьский - Новые Островцы,2023-05-16,"{'lat': 55.602937, 'long': 37.981435}",Островцы

In [71]:
df100 = pd.read_csv('overpy100.csv')
df200 = pd.read_csv('overpy200.csv')
df300 = pd.read_csv('overpy300.csv')
df400 = pd.read_csv('overpy400.csv')
df500 = pd.read_csv('overpy500.csv')
df600 = pd.read_csv('overpy600.csv')
df700 = pd.read_csv('overpy700.csv')
df750 = pd.read_csv('overpy750.csv')

In [72]:
location_info = pd.concat([df100, df200, df300, df400, df500, df600, df700, df750])

In [73]:
location_info = location_info.iloc[:, 3:]

In [74]:
len(location_info['name'].unique())

750

In [75]:
len(branches['name'].unique())

750

In [76]:
set(branches['name'].unique()) - set(location_info['name'].unique())

set()

In [79]:
location_info.to_csv('location_info.csv')

In [82]:
len(location_info['city'].unique())

332

In [83]:
cities = location_info['city'].unique()

In [84]:
cities_df = pd.DataFrame(cities)

In [86]:
cities_df.to_excel('cities.xlsx')